<div role="main">
	<div class="container-fluid">
		<section id="directives-calendar" ng-controller="BookingcalendarCtrl">
			<div ng-repeat="alert in allInfos()" class="alert alert-warning alert-dismissible" role="alert">
  				<button type="button" class="close" ng-href="#" ng-click="removeInfos(alert)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  				{{alert.msg}}
			</div>
			<div class="well">
				<div class="row">
					<div class="col-md-4">
						<div class="alert-success" ng-show="isLoggedIn">
							<div>
								<!-- Single button -->
								<div class="btn-group" dropdown is-open="status.isopen">
									<button type="button" class="btn btn-primary dropdown-toggle">
										{{title}} <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li ng-repeat="a in aircrafts"><a href="#"
											ng-click="toggled(a)">{{a.registration}}</a></li>
										</li>
									</ul>
								</div>
							</div>
							<pre class="alert alert-info">Date of booking: {{currentDate | date:'dd.MM.yyyy' }}</pre>
							<div class="row">
								<div class="col-md-6">
									<timepicker ng-model="startTime" ng-change="changed()"
										hour-step="hstep" minute-step="mstep"
										show-meridian="ismeridian"></timepicker>
								</div>
								<div class="col-md-6">
									<timepicker ng-model="endTime" ng-change="changed()"
										hour-step="hstep" minute-step="mstep"
										show-meridian="ismeridian"></timepicker>
								</div>
							</div>
							<hr>
							<button type="button" class="btn btn-primary"
								ng-click="addEvent()">Add Event</button>
						</div>
					</div>
					<div class="col-md-8">

						<div select="renderCalender(myCalendar1);">
							<div class="btn-toolbar">
								<p class="pull-right lead">Calendar One View Options</p>
								<div class="btn-group">
									<button class="btn btn-success"
										ng-click="changeView('agendaDay', myCalendar1)">{{agendaDay}}</button>
									<button class="btn btn-success"
										ng-click="changeView('agendaWeek', myCalendar1)">{{agendaWeek}}</button>
									<button class="btn btn-success"
										ng-click="changeView('month', myCalendar1)">{{agendaMonth}}</button>
								</div>
							</div>
							<div class="calendar" ng-model="eventSources"
								calendar="myCalendar1" config="uiConfig.calendar"
								ui-calendar="uiConfig.calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>