<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>BookMyWings</web-resource-name>
			<description>Securtiy-Constraint for REST-Services</description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Manager</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>
	<security-role>
		<role-name>Manager</role-name>
	</security-role>
</web-app>   