<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<context-param>
		<param-name>resteasy.role.based.security</param-name>
		<param-value>true</param-value>
	</context-param>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>BookMyWingsRealm</realm-name>
	</login-config>
</web-app>   